* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #a5d6ff;
  overflow: hidden;
}

h1 {
  color: #1d2228;

  padding: 1.25rem;

  letter-spacing: 0.25rem;

  text-transform: uppercase;
  text-shadow: 0px 0px 1px #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.fact-list {
  width: 500px;
  height: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style-position: inside;

  text-align: left;

  border-radius: 1rem;
}

.list-wrap {
  width: 600px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 150px;
}

li {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #1d2228;

  text-align: left;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #000;

  letter-spacing: 0.1rem;

  border-bottom: 1px solid #1d2228;

  margin: 1rem 0;
  padding: 0.5rem;
}

.react-logo {
  position: absolute;
  top: -300px;
  right: -800px;

  opacity: 0.5;

  z-index: -2;

  transform: rotate(-15deg);

  width: 2000px;
}
